<header>
    <style>
        #intro {
            background-image: url(https://healthtechmagazine.net/sites/healthtechmagazine.net/files/styles/cdw_hero/public/articles/%5Bcdw_tech_site%3Afield_site_shortname%5D/202007/20200630_HT_Web_MonITor_Tech-Organizations-Should-Consider.jpg?itok=adOWwJ9x);
            height: 100vh;
        }

        /* Height for devices larger than 576px */
        @media (min-width: 992px) {
            #intro {
                margin-top: -58.59px;
            }
        }

        .navbar .nav-link {
            color: #fff !important;
        }

        form {
            margin-top: 20%;
        }

        span {
            color: crimson;
        }
    </style>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand nav-link" routerLink="/home">
                <strong>Book My Doctor</strong>
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="#intro">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" routerLink="/pat-login">Login</a>
                    </li>

                </ul>


            </div>
        </div>
    </nav>
    <!-- Navbar -->
    <div id="intro" class="bg-image shadow-2-strong">
        <div class="mask d-flex align-items-center h-1000" style="background-color: rgba(0, 0, 0, 0.8);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-md-8 ">
                        <form class="bg-white rounded shadow-5-strong p-5" (ngSubmit)="onSubmit()"
                            [formGroup]="regForm">
                            <div class="form-outline">
                                <h2>Register Here</h2>
                            </div>
                            <div class="alert alert-success" *ngIf="dataSaved">
                                {{message}}
                            </div>
                            <br>
                            <!-- Name input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Name<span
                                        class="required">*</span></label>

                                <input type="text" formControlName="patientName" class="form-control" required>
                                <span
                                    *ngIf="!regForm.get('patientName').valid && regForm.get('patientName').touched">Please
                                    enter your Name !</span>

                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Gender<span
                                        class="required">*</span></label>

                                <input type="text" formControlName="gender" class="form-control" required>
                                <span *ngIf="!regForm.get('gender').valid && regForm.get('gender').touched">Please
                                    enter your gender !</span>

                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Age<span class="required">*</span></label>

                                <input type="text" formControlName="age" class="form-control" required>
                                <span *ngIf="!regForm.get('age').valid && regForm.get('age').touched">Please
                                    enter your Speciality!</span>

                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example2">Address<span
                                        class="required">*</span></label>

                                <input type="text" formControlName="address" class="form-control" required>
                                <span *ngIf="!regForm.get('address').valid && regForm.get('address').touched">Please
                                    enter
                                    your address !</span>

                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Email:<span
                                        class="required">*</span></label>

                                <input type="email" formControlName="emailId" class="form-control" required>
                                <span *ngIf="!regForm.get('emailId').valid && regForm.get('emailId').touched">Please
                                    enter your
                                    email !</span>

                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Mobile Number:<span
                                        class="required">*</span></label>

                                <input type="text" formControlName="mobileNo" class="form-control" required>
                                <span *ngIf="!regForm.get('mobileNo').valid && regForm.get('mobileNo').touched">Please
                                    enter
                                    your mobile number !</span>

                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Password:<span
                                        class="required">*</span></label>

                                <input type="password" formControlName="password" class="form-control" required>
                                <span *ngIf="!regForm.get('password').valid && regForm.get('password').touched">Please
                                    enter
                                    your password !</span>

                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Blood Group:<span
                                        class="required">*</span></label>

                                <input type="text" formControlName="bloodGroup" class="form-control" required>
                                <span
                                    *ngIf="!regForm.get('bloodGroup').valid && regForm.get('bloodGroup').touched">Please
                                    enter your service charges!</span>

                            </div>



                            <!-- 2 column grid layout for inline styling -->


                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block"
                                [disabled]="!regForm.valid">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Background image -->
</header>
<!--Main Navigation-->
<!-- Background image -->